
.logo {
  width: 15%;
}


li {
  display: inline;
}

.logo > img {
  height: 100%;
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.navbar {
  width: 70%;
  text-align: center;
  color: #025157;
}

.menu-item {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.actions > * {
  margin-right: 5px;
  margin-left: 5px;
}

.actions a {
  color: #67b54b;
}